<!DOCTYPE html>
<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <title> </title>
</head>

<body>

  <div class="my_social">
    <a href="https://www.linkedin.com/in/stewart-ilondanga-336b2743/" class="social">
      <img src="https://i.imgsafe.org/85/857cb1a42e.png" alt="linkedin"></img>
    </a>
    <a href="https://stewilondanga.github.io/" class="social">
      <img src="https://i.imgsafe.org/8d/8d745a5c82.png" alt="github"></img>
    </a>
    <a href="https://twitter.com/stew_ilondanga" class="social">
      <img src="https://i.imgsafe.org/43/431dd07874.png" alt="twitter"></img>
    </a>
  </div>

  <div id="app">

    <overlay-form inline-template>
      <div class="c-overlay-form">

        <ul class="c-overlay-form__display">
          <li v-for="(input,key) in formInputs" :key="key" class="c-overlay-form__display__item">
            {{input.prefix}}
            <div v-if="input.type == 'checkbox'" class="c-overlay-form__display__value" v-on:click="activeQuestion = input.name; overlayActive=true;">
              <span v-for="(value,k) in input.value" :key="k">{{value}}, </span>
            </div>
            <div v-else class="c-overlay-form__display__value" v-on:click="activeQuestion = input.name; overlayActive=true;"><span v-if="input.value.length > 0 || input.value !='' ">{{input.value}}</span></div>
            {{input.suffix}}
          </li>
          <div class="submitForm" @click="formSubmit()">Submit</div>
        </ul>



        <div class="c-overlay-form__form-container" v-if="overlayActive">
          <ul class="c-overlay-form__form">
            <li v-on:click="overlayActive = false;" class="close">
              <i class="far fa-times-circle"></i>
            </li>
            <li v-for="(input,key) in formInputs" :key="key" class="c-overlay-form__form__input" v-if="activeQuestion == input.name">
              <label :for="input.name">{{input.label}}</label>

              <div v-if="!input.type">
                <input :name="input.name" v-model="input.value">
              </div>

              <div v-if="input.type && input.type == 'checkbox'">
                <div v-for="(checkbox,checkboxKey) in input.options">
                  <label :for="checkbox.name">{{checkbox.label}}</label>
                  <input type="checkbox" :name="checkbox.name" v-model="input.value" :value="checkbox.name">
                </div>
              </div>

              <div v-if="input.type && input.type == 'radio'">
                <div v-for="(radio,radioKey) in input.options">
                  <label :for="radio.name">{{radio.label}}</label>
                  <input type="radio" :name="radio.name" v-model="input.value" :value="radio.name">
                </div>
              </div>

            </li>
            <li class="closeOverlay" v-on:click="overlayActive = false;">
              Submit
            </li>
          </ul>
        </div>
      </div>
    </overlay-form>
  </div>


  <section id="contact">
    <div class="overlay">
      <div class="containers">

        <h1>
          <script>
            with(new Date) c = -new Date(y = getFullYear(), m = getMonth()).getDay(x = new Date(y, ++m, 0).getDate(b = -1))
            h = '<table class="cal"><caption> <em>Stewart ilondanga</em> &#169 ' + ' ' + y + '/' + m + '<tr>' + 'SuMoTuWeThFrSa'.replace(/(..)/g, '<th>$1')
            while ((b++ > 5 ? b = 0 : b) | c < x) h += (b ? '' : '<tr>') + '<td>' + (++c < 1 | c > x ? '-' : c);
            document.write(h + '</table>')
          </script>
        </h1>

      </div>
    </div>
  </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/scripts.js" charset="utf-8"></script>

</html>
